[submodule "lib/glew"]
	path = lib/glew
    url = https://github.com/nigels-com/glew.git
    branch = 3a8eff77da3658c13fbd3634c943d5251d76322c
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
    branch = 6fa203eeb7fbcbb6f620501fad40359c8a456049
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
    branch = 999f3556fdd80983b10051746264489f2cb1ef16
[submodule "lib/DevIL"]
	path = lib/DevIL
	url = https://github.com/DentonW/DevIL.git
    branch = e34284a7e07763769f671a74b4fec718174ad862
[submodule "lib/soil"]
	path = lib/soil
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library
    branch = 4fff135429c4c7996791c019e6cc20a1e9fde568
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
    branch = 80799bdbf90ce626475635815ee18537718a05b1
[submodule "lib/openexr"]
	path = lib/openexr
	url = https://github.com/openexr/openexr.git
